<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<div class="container-fluid">
<section class="content" >


<div class="row">


<div class="column" >
     @foreach($products as $prod)

  @foreach (range(1, 10) as $i) 

 <div class="barcode" style="background-color:whitesmoke;margin-left: 5px;">
    <p style="margin-left: 5px;" class="name">{{$prod->name}}</p>
    <p style="margin-left: 5px;" class="price">Price: {{$prod->price}}</p>

    {!! DNS1D::getBarcodeHTML($prod->productid."99", "EAN13",1.4,22) !!}
    <p style="margin-left: 5px;" class="pid">{{$prod->productid}}</p>
</div>
@endforeach
@endforeach

</div>




</div>

 </section>
</div>

</body>
</html>

ś